# General Python
build/
dist/
*.egg-info
__pycache__/

# Sphinx documentation
/docs/build/
/docs/source/auto*

# coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

#Animation plotting example
docs/examples/example_animation.gif
/denbridge/src/fn2.raw
/denbridge/src/read_bplane.asv
